alabaster==0.7.12
asn1crypto==0.24.0
atomicwrites==1.4.0
attrs==20.2.0
Babel==2.8.0
backports.functools-lru-cache==1.6.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
cryptography==2.1.4
cycler==0.10.0
docutils==0.16
enum34==1.1.6
funcsigs==1.0.2
idna==2.10
imagesize==1.2.0
importlib-metadata==2.0.0
ipaddress==1.0.17
Jinja2==2.11.2
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
mongo-db-from-config==0.0.1
mongoengine==0.10.7
more-itertools==5.0.0
numpy==1.16.6
packaging==20.4
pathlib==1.0.1
pathlib2==2.3.5
pluggy==0.13.1
psycopg2==2.8.6
py==1.9.0
pycrypto==2.6.1
Pygments==2.5.2
pygobject==3.26.1
pymongo==3.11.0
pyparsing==2.4.7
pytest==4.6.11
python-dateutil==2.8.1
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
requests==2.24.0
scandir==1.10.0
SecretStorage==2.3.1
six==1.15.0
snowballstemmer==2.0.0
Sphinx==1.8.5
sphinxcontrib-websupport==1.1.2
subprocess32==3.5.4
typing==3.7.4.3
unity-lens-photos==1.0
urllib3==1.25.11
wcwidth==0.2.5
zipp==1.2.0
